@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&family=Poppins:wght@300&display=swap");

.headerContainer {
  margin-top: 10px;
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  height: 50px;
}



@media (max-width < 600) {
    .headerContainer{
        display: none;
    }
}
