@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&family=Poppins:wght@300&display=swap');
*{
    font-family: 'Poppins', sans-serif;
}

.aboutMatterImg{
    opacity: 1;
    width: 555px;
    height: 450px;
    /* position: absolute;
    margin: 0 5px; */
}

#firstParagraph{
    width: 570px;
    opacity: 1;
    color: rgba(3,3,3,1);
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: 0px;
    text-align: left;
    line-height: 30px;
    text-transform:initial;
}

#secondParagraph{
    opacity: 1;
    color: rgba(51,51,58,1);
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 1px;
    text-align: left;
    line-height: 40px;
    text-transform: uppercase;
}

.countriesList{
    opacity: 1;
    color: rgba(51,51,58,1);
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0px;
    text-align: left;
    line-height: 30px;
    text-transform: initial;
}

#designer,#factory{
    opacity: 1;
    color: rgba(51,51,58,1);
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0px;
    text-align: left;
    line-height: 30px;
    text-transform: initial;
}

.description{
    margin-top: 0px;
    /* position: absolute; */
    top: 2%;
    /* right: 0.1%; */
    /* margin: 0 50px; */
    margin-left: 20px;
    
}

.aboutMatterContainer{
    /* margin: 0 -5px; */
    /* margin-top: 10px; */
    /* margin-left: 100px; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 430px;
    padding: 25px;
    position: relative;
    max-width: fit-content;
}

.mainContainer{
    margin-left: 3%;
    /* position: fixed; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@media (max-width:600) {
    .mainContainer{
        flex-direction: column;
    }
}