@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&family=Poppins:wght@300&display=swap');
    
.App {
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

/* .mainContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
} */



.productsCardsContainer{
  opacity: 1;
  background-color: rgba(252,252,252, 1);
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(12rem,16rem));
  gap: 2rem;
  justify-content: center;
  padding-left: 50px;
  padding-right: 50px;

}

.asSeenOnContainer{
  margin-top: 100px;
  margin-bottom: 30px;
}

